.important-ui{
    border:1px solid #f50d0d;
    background:#FFFF00;
    background-color:#FFFF00;
    font-weight:bold;
    color:#000000;
    text-transform: uppercase;
    border-radius:5px;
    }

.agendamento-ui{
    border:1px solid #84a800;
    background:#FFFF00;
    background-color:#FFFF00;
    font-weight:bold;
    color:#000000;
    border-radius:5px;
    }

.atendido-ui{
    border:1px solid #006d05;
    background:#09a716;
    background-color:#0eca27;
    font-weight:bold;
    color:#000000;
    border-radius:5px;
    }


.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.disabled-tab {
    background-color: #8DB8D9;
    color: #669CC4;
}