.important-ui{
    border:1px solid #f50d0d;
    background:#FFFF00;
    background-color:#FFFF00;
    font-weight:bold;
    color:#000000;
    text-transform: uppercase;
    border-radius:5px;
    }


.agendamento-ui{
    border:1px solid #84a800;
    background:#FFFF00;
    background-color:#FFFF00;
    font-weight:bold;
    color:#000000;
    border-radius:5px;
    }

.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}